
.content {
  display: flex;
  height: 70vh;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
}

.contentColumn {
  display: flex;
  flex-direction: column;
}

.contentItem {
  display: flex;
  flex: 1;
}

.contentRow {
  display: flex;
  flex-direction: row;
}

.header{
  height:40px;
  background-color: rgb(108, 209, 250);
}

.hero{
  display: flex;
  flex: 1;
  background: rgb(226, 198, 226);
}

.sidebar{
  background: rgb(90, 148, 90);
  flex: 1;
}
.maincontent{
  background: #ffcf40;
  flex: 1;
}
.extracontent{
  /* height: 20vh; */
  background: grey;
  flex: 1;
}
.relatedimages{
  background: green;
}
.relatedposts{
  background: pink;
}

.footer{
  background-color: orange;
  margin-bottom: 8px;
}