
.content {
  display: flex;
  justify-content: center;
  align-self: flex-start;
  flex-wrap: wrap;
}

.contentColumn {
  display: flex;
  flex-direction: column;
}

.contentItem {
  display: flex;
}

.contentRow {
  display: flex;
  flex-direction: row;
}

.header{
  height:40px;
  width: 50vw;
  background-color: rgb(108, 209, 250);
}

.hero{
  height: 25vh;
  display: flex;
  width: 20vw;
  background: rgb(226, 198, 226);
}

.sidebar{
  height: 35vh;
  width: 20vw;
  background: rgb(90, 148, 90);
}
.maincontent{
  height: 40vh;
  width: 30vw;
  background: #ffcf40;
}
.extracontent{
  height: 20vh;
  width: 30vw;
  background: grey;
}
.relatedimages{
  height: 10vh;
    width: 35vw;
  background: green;
}
.relatedposts{
  height: 10vh;
  width: 15vw;
  background: pink;
}

.footer{
  height:40px;
  width: 50vw;
  background-color: orange;
  margin-bottom: 8px;
}